.panelSubTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.totalBalance {
    font-size: 2.125em;
    line-height: 2.125em;
    letter-spacing: .0073529412em;
}

.priceChangePercent {
    font-size: 16px;
}

.logoUrl {
    width: auto;
    height: 30px;
    margin: auto 5px;
}

.tokenspinner {
    position: absolute;
    left: 100px;
    right: 100px;
    ;
}